html,body,h1,h3,form,fieldset,legend,ol,li {
	margin: 0;
	padding: 0;
}
   
body {
	background: #ffffff;
	/*color: #006fc0;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding: 20px;
	}
	
	a:link {
	text-decoration:none;
	color:black;
	}

	a:visited {
	text-decoration:none;
	color:black;
	}
	
	a:hover {
	text-decoration:none;
	color:black;
	}
	
	a:active {
	text-decoration:none;
	color:black;
	}

		
h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size: 24px;
	margin-top: 2px;
	margin-bottom: 25px;
	text-align:center;
}
	
li.errors {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #cc0000;
	font-weight: bold;
	margin-left: 50px;
}
	
p {
		line-height:24px;
		padding-bottom:5px;}
		
#break {
border: 1px solid white;
}

form#onePassDigReg {
	background: #E8E8E8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	counter-reset: fieldsets;
	padding: 20px;
	width: auto;
}

form#onePassDigReg fieldset {
	border: none;
	margin-bottom: 30px;
	/*max width code added for landscape view*/
	max-width: 700px;
}

form#onePassDigReg fieldset:last-of-type {
	margin-bottom: 0;
}

form#onePassDigReg legend {
	color: #E8E8E8;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

form#onePassDigReg>fieldset>legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form#onePassDigReg fieldset fieldset legend {
	color: #111111;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 0;
}

form#onePassDigReg ol li {
	background: #E8E8E8;
	border-color: #E8E8E8;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 35px;
	list-style: none;
	padding: 5px 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	font-weight:bold;
}

form#onePassDigReg ol.optbox li {
				background: #E8E8E8;
				border-color: #E8E8E8;
				border-style: solid;
				border-width: 2px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				line-height: 24px;
				list-style: none;
				padding: 5px 10px;
				margin-bottom: 15px;
				font-weight:normal;
				}

form#onePassDigReg ol ol li {
	background: none;
	border: none;
	float: left;
}

form#onePassDigReg label {
	float: left;
	font-size: 16px;
	width: 230px;
	text-align:right;
	margin-right: 20px;
	margin-top: 5px;
}

form#onePassDigReg fieldset fieldset label {
	background: none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}

form#onePassDigReg select {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 16px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	outline: none;
	padding: 8px 8px 8px 0;
	text-indent: 4px;
	line-height: 32px;
	width: 315px;
}

form#onePassDigReg select:focus {
	background: #eaeaea;
}

form#onePassDigReg input:not   ([type=radio]   ),form#onePassDigReg textarea,form#onePassDigReg text
	{
	background: #ffffff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font: italic 16px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	outline: none;
	padding: 8px;
	height:30px;
	width: 300px;
}

form#onePassDigReg input:not   ([type=submit]   ):focus,form#onePassDigReg textarea:focus
	{
	background: #eaeaea;
}

form#onePassDigReg input[type=text] {
	background: #ffffff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font: italic 16px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	outline: none;
	padding: 8px;
	height:30px;
	width: 300px;
}

form#onePassDigReg input:   ([type=text]    ):focus {
	background: #eaeaea;
}

form#onePassDigReg input[type=password] {
	background: #ffffff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font: italic 16px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	outline: none;
	padding: 8px;
	height:30px;
	width: 300px;
}

form#onePassDigReg input:   ([type=password]    ):focus {
	background: #eaeaea;
}

form#onePassDigReg input[type=checkbox] {
	display: inline-block;
	font-size: 16px;
	line-height: 1em;
	margin: 0 0.25em 0 0;
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	-webkit-border-radius: 0.25em;
	vertical-align: text-top;
}

form#onePassDigReg button {
	width:300px;
	height:60px;
				background: #BFBFBF;
				/*border: none;*/
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				-khtml-border-radius: 10px;
				border-radius: 10px;
				display: block;
				font: 18px Verdana, Arial, Helvetica, sans-serif;
				margin: 0 auto;
				text-align:center;
				font-weight:bold;
				padding: 5px 10px;
				text-transform: uppercase;
}

form#onePassDigReg button:hover {
				background: #BFBFBF;
					cursor: pointer;
}